
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }

body{
    background-color: black;
    color: aliceblue;
    height: 100vh;
}


.memory-game{
    
}

img{
    width: 100px;
    height: 100px;
}